::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: rgba(252,195,49,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*
@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.ttf');
}*/

*{
    margin: 0;
    padding:0;
    font-family: 'Helvetic';
}

body{
    overflow:hidden;
}
/*public class*/
.animate{
    -webkit-transition:-webkit-transform;
    -webkit-transition-duration: 500ms;
    -webkit-backface-visibility:hidden;
    overflow: hidden;
}

.blod{
    font-weight: bold;
}

.italic{
    font-style: italic;
}
/*pages*/
.container{
    position: absolute;
    width:1280px;
    height: 720px;
    overflow: hidden;
}

.container section{
    height: 27px;
    line-height: 27px;
}
.container span{
    vertical-align: middle;
    display: inline-block;
}

.title{
    padding-left: 40px;
    font-size: 36px;
    color:white;
    margin: 3px;
}

.title2{
    padding-left: 36px;
    font-size: 28px;
    color:white;
    margin: 3px;
}

.title3{
    font-size: 22px;
    padding: 2px;
}

.title4{
    font-size: 16px;
    font-weight: bold;
    padding:2px;
}

.checkbox{
    display: inline-block;
    border: 1px solid #DDD;
    background: white;
    width: 22px;
    height: 22px;
    margin:0 3px 0 3px;
    position: relative;
    vertical-align: middle;
    -webkit-border-radius: 22px 22px;
}

.checkbox-on{
    background-color: #528CE0;
}

.colorpicker{
    display: inline-block;
    border: 1px solid #DDD;
    background: white;
    width: 22px;
    height: 22px;
    margin:0 3px 0 3px;
    position: relative;
    vertical-align: middle;
}

/*page sessions*/
#sessions{
    background-color: #cdff5f;
}
#back-des{
    color:black;
    font-size: 36px;
    text-align: center;
    padding-top: 25%;
}

#session-list{
    margin: 10px;
    max-width: 1158px;
    width: 1158px;
    overflow: hidden;
    height: 700px;
}

#session-list:hover{
    overflow-y: scroll;
}

#session-list li{
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
    background-color: #F4FF80;
    -webkit-user-drag:element;
}

#session-list li.highlight{
    background-color: #DAA;
}

#session-list li.ex{
    height: auto;
    margin: 0 0 2px 0;
    background-color: #E4EF70;
    -webkit-user-drag:none;
    display: none;
}
#session-list dt{
    width: 200px;
    display: inline-block;
    padding: 2px;
    vertical-align: top;
}

#session-list dd{
    display: inline-block;
    width: 900px;
}

#session-list span{
    display: inline-block;
    padding: 0 2px 0 2px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
}
#session-list .status{
    width: 40px;
}

#session-list .host{
    width: 250px;
}

#session-list .query{
    width:830px;
}

/*page rules*/
#rules{
    -webkit-transform:translate3d(1180px,0,0);
    -webkit-box-shadow: -3px 0 3px #6C9F00;
    background-color: #36D792;
    z-index:2;
}

/*page config*/
#config{
    -webkit-transform: translate3d(1230px,0,0);
    -webkit-box-shadow: -3px 0 3px #6C9F00;
    -webkit-user-select:none;
    background-color: #FFCD40;
    z-index:4;
}

.configItem{
    width: 400px;
    margin: 5px 0 0 40px;
}

.configHead{
    text-align: center;
    background-color: white;
}

/*  not ready for toggle
.configHead:hover{
    background-color: #CCC;
}  */

.configBody{
    background-color: #EFBD30;
}
.configBody section{
    display: inline;
}

.configBody span{
    width:168px;
}

#style-picker{
    position: absolute;
    left:75px;
    top:-50px;
    border: 2px solid #EEE;
    background-color: white;
    display: none;
}

/*icons*/
.icon{
    width:36px;
    height:36px;
    display: inline-block;
}
.add{
    background: url('../img/add.png') no-repeat;
}
.cancel{
    background: url('../img/cancel.png') no-repeat;
}
.ok{
    background: url('../img/ok.png') no-repeat;
}
