::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: rgba(252,195,49,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*
@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.ttf');
}*/

*{
    margin: 0;
    padding:0;
    font-family: 'Helvetic';
}

body{
    overflow:hidden;
}

ul{
    list-style: none;
}
/*public class*/
.animate{
    -webkit-transition:-webkit-transform;
    -webkit-transition-duration: 500ms;
    -webkit-backface-visibility:hidden;
    overflow: hidden;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}
/*pages*/
.container{
    position: absolute;
    width:1280px;
    height: 720px;
    overflow: hidden;
}

.container section{
    height: 27px;
    line-height: 27px;
}
.container span{
    vertical-align: middle;
    display: inline-block;
}

.title{
    padding-left: 40px;
    font-size: 36px;
    color:white;
    margin: 3px;
    display: block;
}

.title2{
    padding-left: 36px;
    font-size: 28px;
    color:white;
    margin: 3px;
}

.title3{
    font-size: 22px;
    padding: 2px;
}

.title4{
    font-size: 16px;
    font-weight: bold;
    padding:2px;
}

.checkbox{
    display: inline-block;
    border: 1px solid #DDD;
    background: white;
    width: 22px;
    height: 22px;
    margin:-3px 3px 0 3px;
    position: relative;
    vertical-align: middle;
    -webkit-border-radius: 22px 22px;
}

.checkbox-on{
    background-color: #528CE0;
}

.colorpicker{
    display: inline-block;
    border: 1px solid #DDD;
    background: white;
    width: 22px;
    height: 22px;
    margin:0 3px 0 3px;
    position: relative;
    vertical-align: middle;
}

/*page sessions*/
#sessions{
    background-color: #ddffbf;
}
#back-des{
    color:black;
    font-size: 36px;
    text-align: center;
    padding-top: 25%;
}

#session-list{
    margin: 10px;
    max-width: 1158px;
    width: 1158px;
    overflow: hidden;
    height: 700px;
}

#session-list:hover{
    overflow-y: auto;
}

#session-list li{
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
    background-color: #cdefaf;
    -webkit-user-drag:element;
}

#session-list li.highlight{
    background-color: #DAA;
}

#session-list li.ex{
    height: auto;
    margin: 0 0 2px 0;
    background-color: #bddf9f;
    -webkit-user-drag:none;
    display: none;
}
#session-list dt{
    width: 200px;
    display: inline-block;
    padding: 2px;
    vertical-align: top;
}

#session-list dd{
    display: inline-block;
    width: 900px;
}

#session-list span{
    display: inline-block;
    padding: 0 2px 0 2px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
}
#session-list .status{
    width: 40px;
}

#session-list .host{
    width: 250px;
}

#session-list .query{
    width:830px;
}

/*page rules*/
#rules{
    -webkit-transform:translate3d(1180px,0,0);
    -webkit-box-shadow: -3px 0 3px #6C9F00;
    background-color: #36D792;
    z-index:2;
    -webkit-user-select:none;
}

#rules .title{
    display: block;
}

#rules ul{
    padding-top: 8px;
    float:left;
    height: 640px;
    overflow: hidden;
}

#rules ul:hover{
    overflow-y: auto;
}
#rules li{
    height: 27px;
    line-height: 27px;
    margin-bottom: 1px;
    background-color: #26C782;
    white-space: nowrap;
    position: relative;
}

#rules img{
    width: 22px;
    height: 22px;
    margin: 3px 3px 3px 4px;
}

#rules li.current{
    background-color: #56F7B2;
}

#rules li.new{
    background-color: #56F7B2;
}

#rules li.new img{
    float:none;
}
#rules li.new span{
    vertical-align: top;
}

#rules #rule-edit{
    height: auto;
    background-color: #16B772;
}

#rules input{
    height:22px;
    line-height: 22px;
    border: none;
    font-size: 16px;
}

#group-list{
    padding-left: 40px;
    width: 220px;
    -webkit-user-select:none;
}

#group-list li{
    width:220px;
}

#group-list input{
    width: 150px;
}

#group-list img{
    float:right;
}

#group-list .groupItem-tool{
    position: absolute;
    top:0;
    right:0;
    height:27px;
    -webkit-transform: translateX(30px);
}

#group-list .groupItem-tool-hover{
    -webkit-transform: translateX(0);
}

#rule-list{
    width:750px;
    padding-left: 10px;
}

#rule-list li{
    width: 750px;
}

#rule-list .type{
    width: 65px;
}
#rule-list .arrow{
    color:white;
    padding:0 4px 0 4px;
}

#rule-list .ruleItem-tool{
    position: absolute;
    top:0px;
    right:0px;
    height:27px;
    -webkit-transform:translateX(130px);
}

#rule-list .ruleItem-tool-hover{
    -webkit-transform:translateX(0);
}

#rule-edit label{
    display: inline-block;
    width: 65px;
    padding-left: 3px;
}
#rule-edit input{
    width: 500px;
}
#rule-list .edit-button{
    height: 27px;
    padding-bottom: 3px;
}

#rule-list .edit-sub{
    padding-left: 65px;
}

#rule-list .edit-sub label{
    width:70px;
}

#rule-list .edit-sub input{
    width: 100px;
}
/*page config*/
#config{
    -webkit-transform: translate3d(1230px,0,0);
    -webkit-box-shadow: -3px 0 3px #6C9F00;
    -webkit-user-select:none;
    background-color: #FFCD40;
    z-index:4;
}

.configItem{
    width: 400px;
    margin: 5px 0 0 40px;
}

.configHead{
    text-align: center;
    background-color: white;
}

/*  not ready for toggle
.configHead:hover{
    background-color: #CCC;
}  */

.configBody{
    background-color: #EFBD30;
}
.configBody section{
    display: inline;
}

.configBody span{
    width:168px;
}

#style-picker{
    position: absolute;
    left:75px;
    top:-50px;
    border: 2px solid #EEE;
    background-color: white;
    display: none;
}

/*tips*/
.tips{
    border: 1px solid #BBB;
    background-color: white;
    padding:4px 12px;
    position: absolute;
    z-index: 100;
    display: none;
    cursor: pointer;
}

#tips-combo b{
    color:#FF2222;
}

#tips .tipsContinue{
    text-align: center;
    color:#777;
    text-decoration: underline;
}

/*icons*/
.icon{
    width:36px;
    height:36px;
    display: inline-block;
}
.add{
    background: url('../img/add.png') no-repeat;
}
.cancel{
    background: url('../img/cancel.png') no-repeat;
}
.ok{
    background: url('../img/ok.png') no-repeat;
}
