::-webkit-scrollbar-thumb {
    background: #E8BA94;
}

.checkbox-on{
    background-color: #528CE0;
}

#sessions{
    background-color: rgb(247,247,247);
}

#session-list li{
    /*background-color: #E9DAC8;  */
    border-bottom: 1px solid rgb(201,201,206);
}

#session-list li.highlight{
    background-color: rgb(15,130,254);
}

#session-list li.ex{
    /*background-color: #D9CAB8;*/
}

#session-tool{
    /*background-color: #DAA;*/
}

#rules{
    -webkit-box-shadow: -3px 0 3px rgb(201,201,201);
    background-color: rgb(237,237,237);
}

#rules li{
   /* background-color: #EFC89B;    */
    border-bottom: 1px solid rgb(201,201,201);
}

#rules li.current{
    background-color: #FFC89B;
}

#rules li.new{
    background-color: #FFC89B;
}

#rules #rule-edit{
    background-color: #DFB88B;
}

#config{
    -webkit-box-shadow: -3px 0 3px #DF9E52;
    background-color: #FFBE72;
}

.configBody{
    background-color: #EFAE62;
}

.tips{
    border: 1px solid #BBB;
    background-color: white;
}

#tips b{
    color:#FF2222;
}

#tips .tipsContinue{
    color:#777;
}