<%if(locals.fake){%>
<li><div class="checkbox" id="groupItem-"></div>
<%}%>
<input type="text" value="<%=locals.val%>"/>
<%if(locals.fake){%><img class="toolIcon" src="assets/img/cancel.png"/></li><%}%>