<%if(locals.fake){%>
<li><div class="checkbox" id=""></div>
<%}%>
<input type="text" value="<%=locals.val%>"/>
<%if(locals.fake){%><div class="groupItem-tool animate"><img class="toolIcon" src="assets/img/cancel.png"/></div></li><%}%>