<section><div id="style-bold" class="checkbox <%=(bold?' checkbox-on':'')%>"></div><span>Bold</span></section>
<section><div id="style-italic" class="checkbox <%=(italic?' checkbox-on':'')%>"></div><span>Italic</span></section>
<section style="display: block;position: relative">
<div id="style-color" class="colorpicker" style="background-color: <%=color%>"></div><span>Color</span>
<canvas id="style-picker" width="200" height="200"></canvas>
</section>
